.item {
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  height: auto;

  &::before {
    background-color: var(--mat-sys-on-surface);
    opacity: 0.05;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  overflow: hidden;
}

.text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
